@model Client

@{
    ViewData["Title"] = "StartIntake";
}

<h2>StartIntake</h2>

<h4>Client</h4>
<hr />

<form asp-action="StartIntake" method="post">
    <input type="hidden" asp-for="ClientID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
</form>
<p>and so on... Intake form to be added here</p>