

@model IEnumerable<HopePipeline.Models.trackingReferral>
@{
    ViewData["Title"] = "Manage Tracking Information";



}
<h2>Manage Tracking Information</h2>



<p>

</p>
<table class="table">
    <tr>
        <th>
            Client Code
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.clientCode)
            </td>
            <td>





                @Html.ActionLink("Contact Info", "contactInfoBLD", "b", new { pK = item.pK }) |


                @Html.ActionLink("Details", "detailTrackingBLD", "b", new { pK = item.pK })|

                @Html.ActionLink("Edit", "editTrackingBLD", "b", new { pK = item.pK })
            </td>
        </tr>
    }

</table>
<a asp-action="IndexA" asp-controller="b">Back to Homepage</a>