@{
    ViewData["Title"] = "Admin Log-in";
}

<h1 class="center-block text-center">Admin Log-in</h1>

<h1 class="center-block text-center"><a asp-controller="Client" asp-action="RefList">Assume we logged in already...</a></h1>
