@{
    ViewData["Title"] = "Home Page";
}
<p> </p>
<h1 class="center-block text-center"><a asp-action="Referral">Referral Page</a></h1>
<h1 class="center-block text-center"><a asp-action="Admin">Admin Log-in</a></h1>