@{
    ViewData["Title"] = "Home Page";
}
<style>

    .jumbotron_{
        background-color: peru;
    }

    
</style>

<div class="container">
    <div class="jumbotron">
        <h1>Hello!</h1>
    </div>
</div>

    
        
   

    

        <h2 class="text-center"><a asp-action="Admin">Admin Log-in</a></h2>


