@{
    ViewData["Title"] = "Home Page";
}

<h1 class="center-block text-center"><a asp-controller="n" asp-action="formReferralM">Start Referral</a></h1>
<h1 class="center-block text-center"><a asp-action="Admin">Admin Log-in</a></h1>




<hr/>
<h1 class="center-block text-center"><a asp-controller="n" asp-action="detailTrackingM">Tracking Detail</a></h1>

<p style="position: absolute; bottom: 0pt; right: 0pt;"><a onclick="location.href='@Url.Action("IndexA", "b")'">LD</a></p>