@{
    ViewData["Title"] = "Home Page";
}

<h1 class="center-block text-center"><a  onclick="location.href='@Url.Action("referralBrandi", "b")'">Referral Form</a></h1>
<h1 class="center-block text-center"><a onclick="location.href='@Url.Action("viewBrandiR", "b")'">View Referrals</a></h1>
<h1 class="center-block text-center"><a asp-action="Admin">Admin Log-in</a></h1>