
@{
    ViewData["Title"] = "StartIntake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Center for Children's Rights Tracking Form</h2>



    <form method="post">
        <div class="form-group">
        </div>
    </form>


    <div>

        <h7> Discipline </h7> <br />

        Suspended more than three times <br />
        <input type="radio" name="adopted" value="y"> Yes <br />
        <input type="radio" name="notAdopted" value="n" /> No <br />
        <br />
        <br />

        Alternative School <br />
        <input type="radio" name="schoolYes" value="y"> Yes <br />
        <input type="radio" name="schoolNo" value="n" /> No <br />
        <br />
        <br />

        Alternative School Name <br />
        <input type="checkbox" name="mattieV" value="Mattie"> Mattie V <br />
        <input type="checkbox" name="grandPark" value="Grand" /> Grand Park <br />
        <br />
        <br />

        <button type="submit">Submit</button>
    </div>

