


@{
    ViewData["Title"] = "StartIntake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<style type="text/css">
    .form-style-9
    {
        max-width: 1000px;
        background: #FAFAFA;
        padding: 60px;
        margin: 50px auto;
        box-shadow: /*1px 1px 25px rgba(0, 0, 0, 0.35)*/;
        border-radius: 10px;
        border: 6px solid #305A72;
    }

        .form-style-9 ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .form-style-9 ul li
            {
                display: block;
                margin-bottom: 10px;
                min-height: 35px;
            }

                .form-style-9 ul li .field-style
                {
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    padding: 8px;
                    outline: none;
                    border: 1px solid #B0CFE0;
                    -webkit-transition: all 0.30s ease-in-out;
                    -moz-transition: all 0.30s ease-in-out;
                    /*-ms-transition: all 0.30s ease-in-out;*/
                    -o-transition: all 0.30s ease-in-out;
                }

                    .form-style-9 ul li .field-style:focus
                    {
                        box-shadow: 0 0 5px #B0CFE0;
                        border: 1px solid #B0CFE0;
                    }

                .form-style-9 ul li .field-split
                {
                    width: 49%;
                }

                .form-style-9 ul li .field-full
                {
                    width: 100%;
                }

                .form-style-9 ul li input.align-left
                {
                    float: left;
                }

                .form-style-9 ul li input.align-right
                {
                    float: right;
                }

                .form-style-9 ul li textarea
                {
                    width: 100%;
                    height: 100px;
                }

                .form-style-9 ul li input[type="button"],
                .form-style-9 ul li input[type="submit"]
                {
                    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
                    box-shadow: inset 0px 1px 0px 0px #3985B1;
                    background-color: #216288;
                    border: 1px solid #17445E;
                    display: inline-block;
                    cursor: pointer;
                    color: #FFFFFF;
                    padding: 8px 18px;
                    text-decoration: none;
                    font: 12px Arial, Helvetica, sans-serif;
                }

                .form-style-9 ul li input[type="button"]:hover,
                .form-style-9 ul li input[type="submit"]:hover
                {
                    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                    background-color: #28739E;
                }
</style>

<h2>Center for Children's Rights Tracking Form</h2>

<form asp-controller="Tracking" method="post"  asp-action="SubmitTracking" class="form-style-9">
    <h3> School Information </h3>
    <br/>
    <ul>
        <li>
            School at time of Referral
            <br />
            <input type="text" class="field-style field-full align-none" name="schoolRef" />
            <br />
        </li>

        <li>
            Current Reading Level
            <br />
            <select id="readingLevel" name="readingLevel" class="field-style field-full align-none" placeholder="Reading Level">
                <option value="Other" label="Other"></option>
                <option value="K" label="K"></option>
                <option value="1" label="1"></option>
                <option value="2" label="2"></option>
                <option value="3" label="3"></option>
                <option value="4" label="4"></option>
                <option value="5" label="5"></option>
                <option value="6" label="6"></option>
                <option value="7" label="7"></option>
                <option value="8" label="8"></option>
                <option value="9" label="9"></option>
                <option value="10" label="10"></option>
                <option value="11" label="11"></option>
                <option value="12" label="12"></option>
            </select>
        </li>

        <li>

            Current Math Level
            <br />
            <select id="mathLevel" class="field-style field-full align-none" name="mathLevel">
                <option value="Other" label="Other"></option>
                <option value="K" label="K"></option>
                <option value="1" label="1"></option>
                <option value="2" label="2"></option>
                <option value="3" label="3"></option>
                <option value="4" label="4"></option>
                <option value="5" label="5"></option>
                <option value="6" label="6"></option>
                <option value="7" label="7"></option>
                <option value="8" label="8"></option>
                <option value="9" label="9"></option>
                <option value="10" label="10"></option>
                <option value="11" label="11"></option>
                <option value="12" label="12"></option>
            </select>
            <br />
            <br />
        </li>

        <li>
            <div>
                Does the youth have an IEP/504 Plan? <br />
                <input type="radio" onclick="javascript: yesnoCheck('yes','ifYesIEP/504');" name="IEP/504" id="yes" value="y"> Yes<br />
                <input type="radio" onclick="javascript: yesnoCheck();" name="IEP/504" id="no" value="n" /> No <br />
                <br />
                <br />

                <div id="ifYesIEP/504" style="display:none">
                    Primary IEP/504 Plan<br />
                    <input type="radio" name="plan" id="emo" value="emo"> Emotional/Behavioral Disability<br />
                    <input type="radio" name="plan" id="gifted" value="gifted" /> Gifted<br />
                    <input type="radio" name="plan" id="intellectual" value="intell"> Intellectual Disability<br />
                    <input type="radio" name="plan" id="language" value="lang" /> Language Impairment<br />
                    <input type="radio" name="plan" id="otherHealth" value="otherHealth" /> Other Health Impairment<br />
                    <input type="radio" name="plan" id="specificLearning" value="specificLearning"> Specific Learning Disability<br />
                    <input type="radio" name="plan" id="speech" value="speech" /> Speech Impairment<br />
                    <input type="radio" name="plan" id="other" value="other"> Other <br />
                    <br />
                    <br />

                    Secondary IEP/504 Plan<br />
                    <input type="radio" name="plan" id="none" value="none"> None<br />
                    <input type="radio" name="plan" id="emo" value="emo"> Emotional/Behavioral Disability<br />
                    <input type="radio" name="plan" id="gifted" value="gifted" /> Gifted<br />
                    <input type="radio" name="plan" id="intellectual" value="intell"> Intellectual Disability<br />
                    <input type="radio" name="plan" id="language" value="lang" /> Language Impairment<br />
                    <input type="radio" name="plan" id="otherHealth" value="otherHealth" /> Other Health Impairment<br />
                    <input type="radio" name="plan" id="specificLearning" value="specificLearning"> Specific Learning Disability<br />
                    <input type="radio" name="plan" id="speech" value="speech" /> Speech Impairment<br />
                    <input type="radio" name="plan" id="other" value="other"> Other <br />
                    <br />
                    <br />
                </div>
        </li>

        <li>
            <div>
            Failed a Grade <br />
            Yes <input type="radio" onclick="javascript: yesnoCheck('failedGrade','ifYesFailedGrade');" name="grade" id="failedGrade" value="yes" /> &nbsp;
            No  <input type="radio" onclick="javascript: yesnoCheck();" name="grade" id="nofailedGrade" value="no" />  &nbsp;
            <br />
            <br />

            <div id="ifYesFailedGrade" style="display:none">
                If yes, which grade and how many times?<br />
                <input type="text" class="field-style field-full align-none" name="failedGrade" />
                <br />
                <br />
            </div>
            </div>
        </li>

        <li>
            In Pride
            <br />
            <input type="radio" name="pride" id="inPride" value="y"> Yes
            <br />
            <input type="radio" name="pride" id="notInPride" value="n" /> No
            <br />
        </li>

        <li>
            New FBA
            <br />
            <input type="radio" name="FBA" id="newFBA" value="y"> Yes
            <br />
            <input type="radio" name="FBA" id="noNewFBA" value="n" /> No
            <br />
        </li>

        <li>
            Addititonal Accomodations Gained
            <br />
            <input type="radio" name="accom" value="y"> Yes
            <br />
            <input type="radio" name="accom" value="n" /> No
            <br />
            <input type="radio" name="accom" value="other" /> Other
            <br />
        </li>
        
        <li>
            <div>
                Additional Compensatory Services <br />
                <input type="radio" onclick="javascript: yesnoCheck('additional','ifYesComp');" name="compServices" id="additional" value="y"> Yes<br />
                <input type="radio" onclick="javascript: yesnoCheck();" name="noCompServices" id="nocomp" value="n"> No<br />
                <br />
                <br />

                <div id="ifYesComp" style="display:none">
                    If yes, what services?
                    <input type="text" class="field-style field-full align-none"  name="services" />
                    <br />
                    <br />
                </div>
            </div>
        </li>

        <li>
            Bullied <br />
            <input type="radio" onclick="javascript: yesnoCheck('bullied','ifYesBullied');" name="bullied" id="bullied" value="y"> Yes <br />
            <input type="radio" onclick="javascript: yesnoCheck();" name="bullied" id="notBullied" value="n"> No <br />
            <br />
            <br />

            <div id="ifYesBullied" style="display:none">
                If yes, was it reported? <br />
                <input type="radio" name="report" value="y"> Yes <br />
                <input type="radio" name="report" value="n"> No <br />
                <br />
                <!-- Need to fix the report date automatically showing-->
                Date of report <br />
                <input type="date" id="dateofBully" class="field-style field-full align-none" me="dateOfBully" min="2001-01-01" max="2050-12-31"> <br />
                <br />
                <br />
            </div>
        </li>
    </ul>

    <div class="form-group">
        <script type="text/javascript">

            function yesnoCheck(checkedfield, fieldtohide) {
                if (document.getElementById(checkedfield).checked) {
                    document.getElementById(fieldtohide).style.display = 'block';
                }

                else document.getElementById(fieldtohide).style.display = 'none';
            }
        </script>
    </div>

    <div class="form-group">
        <script type="text/javascript">

            function yesnoCheck(checkedfield, fieldtohide) {
                if (document.getElementById(checkedfield).checked) {
                    document.getElementById(fieldtohide).style.display = 'block';
                }

                else document.getElementById(fieldtohide).style.display = 'none';
            }
        </script>
    </div>
  </form>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-controller="Tracking" asp-action="demoTracking">1</a></li>
            <li class="page-item active">
                <a class="page-link" asp-controller="Tracking" asp-action="schoolTracking">2<span class="sr-only"></span></a>
            <li>
            <li class="page-item"><a class="page-link" asp-controller="Tracking" asp-action="disciplineTracking">3</a></li>
            <li class="page-item"><a class="page-link" asp-controller="Tracking" asp-action="ccrTracking">4</a></li>
        </ul>
    </nav>

</div>
