@model HopePipeline.Models.Tracking
@{
    ViewData["Title"] = "Tracking List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Tracking</h2>


<table class="table" id="tracklist">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone number
            </th>
            <th>
                Status
            </th>
            <th>
                More Options
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

     
            <tr>
                <td>
                   
                </td>
            </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
                placeholder
            </td>
            <td>
                <a asp-controller="Tracking" asp-action="demoTracking">Edit</a> |
                <a asp-controller="n" asp-action="detailTrackingM">Details</a> |
                <a asp-controller="Referral" asp-action="Delete" asp-route-clientID="placeholder">Delete</a>
            </td>
        </tr>
        };

    </tbody>
</table>
